// *************************
// * Check and Radio items *
// *************************

@use 'shared' as *;
@use 'base' as *;

checkbutton,
radiobutton {
  &.text-button {
    padding: 2px 0;
    outline-offset: 0;

    label:not(:only-child) {
      &:first-child { margin-left: 4px; }
      &:last-child { margin-right: 4px; }
    }
  }
}

checkbutton {
  border-spacing: 4px;
  border-radius: 2px;
  transition: $focus_transition;
  padding: 4px;

  @include focus-ring();

  .osd &:focus { outline-color: $osd_focus_color; }
}

checkbutton.selection-mode {
  border-radius: 100px;

  check {
    padding: 8px;
    border-radius: 2px;
  }

  radio {
    padding: 8px;
    border-radius: 999px;
  }

  label {
    &:dir(ltr) { margin-right: 6px; }
    &:dir(rtl) { margin-left: 6px; }
  }
}

check,
radio {
  margin: 0 4px;

  &:only-child { margin: 0; }

  popover & {
    &.left:dir(rtl) {
      margin-left: 0;
      margin-right: 12px;
    }

    &.right:dir(ltr) {
      margin-left: 12px;
      margin-right: 0;
    }
  }

  min-height: 16px;
  min-width: 16px;
  -gtk-icon-size: 16px;
  padding: 0;
  border-radius: 2px;
  border: none;
  background: gtkalpha($view_fg_color, 0.12);
  color: $view_fg_color;
  box-shadow: 0 0 0 2px $borders;
  -gtk-icon-source: none;
  -gtk-icon-shadow: none;
  transition: $button_transition;

  @include focus-ring();

  &:not(:checked):not(:indeterminate) {
    &:hover {
      background: gtkalpha($view_fg_color, 0.12);
      box-shadow: 0 0 0 2px $window_fg_color;
    }

    &:active {
      background: gtkalpha($view_fg_color, 0.12);
      color: $accent_fg_color;
      box-shadow: 0 0 0 2px $borders;
    }
  }

  &:checked,
  &:indeterminate {
    background: $accent_bg_color;
    color: $accent_fg_color;
    box-shadow: 0 0 0 2px $accent_bg_color;

    &:hover {
      box-shadow: 0 0 0 2px $accent_bg_color;
    }

    &:active {
      background: $accent_bg_color;
      color: $accent_fg_color;
      box-shadow: 0 0 0 2px $accent_bg_color;
    }
  }

  &:disabled {
    background: gtkalpha($view_fg_color, 0.12);
    color: gtkalpha($view_fg_color, 0.38);
    box-shadow: 0 0 0 2px $borders;
  }

  .osd & {
    &:checked,
    &:indeterminate {
      background: $osd_fill_bg_color;
      color: $osd_fill_fg_color;
      box-shadow: 0 0 0 2px gtkalpha($osd_fill_fg_color, 0.3);
    }
  }

  menu menuitem & {
    margin: 0;
    padding: 0;
    min-height: 14px;
    min-width: 14px;
    background: transparent;
    box-shadow: none;
    border: none;
    color: inherit;

    &:hover,
    &:disabled { box-shadow: none; }
  }
}

check {
  border-radius: 2px;

  &:checked {
    -gtk-icon-source: -gtk-scaled(
      -gtk-recolor(url("assets/check-symbolic.svg")),
      -gtk-recolor(url("assets/check@2-symbolic.svg"))
    );
  }
}

radio {
  border-radius: 999px;

  &:checked {
    -gtk-icon-source: -gtk-scaled(
      -gtk-recolor(url("assets/bullet-symbolic.svg")),
      -gtk-recolor(url("assets/bullet@2-symbolic.svg"))
    );
  }
}

check,
radio {
  &:indeterminate {
    -gtk-icon-source: -gtk-scaled(
      -gtk-recolor(url("assets/dash-symbolic.svg")),
      -gtk-recolor(url("assets/dash@2-symbolic.svg"))
    );
  }
}

menu menuitem {
  check,
  radio {
    &:checked:not(:backdrop),
    &:indeterminate:not(:backdrop) { transition: none; }
  }
}

treeview.view check,
treeview.view radio {
  &:selected {
    &:focus, & {
      color: $accent_fg_color;
      background: $accent_bg_color;
      box-shadow: 0 0 0 2px $accent_bg_color;
    }
  }
}
