// ***********
// * Dialogs *
// ***********
messagedialog { // Message Dialog styling
    .titlebar, .titlebar:backdrop {
      min-height: 20px;
      background-image: none;
      background: $dialog_bg_color;
      color: $dialog_fg_color;
      border-style: none;
      border-top-left-radius: 7px;
      border-top-right-radius: 7px;
    }
  
    &.csd { // rounded bottom border styling for csd version
      &.background {
        border-bottom-left-radius: $window_radius;
        border-bottom-right-radius: $window_radius;
        background-color: $dialog_bg_color;
        color: $dialog_fg_color;
      }
  
      .dialog-action-area button {
        padding: 10px 14px; // labels are not vertically centered on message dialog, this is a workaround
        border-right-style: none;
        border-bottom-style: none;
        border-radius: 0;
        -gtk-outline-radius: 0;
        background-color: $dialog_bg_color;
        color: $dialog_fg_color;
        border-top: 1px solid $border_color;
        border-left: 1px solid $border_color;
  
        &:hover {
          background: $view_hover_color;
        }
  
        &:active {
          background: $view_active_color;
        }
  
        &.suggested-action {
          color: $accent_color;
        }
  
        &.destructive-action {
          color: $destructive_color;
        }
  
        &:checked {
          background: $view_selected_color;
  
          &:hover {
            background: $view_selected_hover_color;
          }
  
          &:active {
            background: $view_selected_active_color;
          }
        }
  
        &:first-child {
          border-left-style: none;
          border-bottom-left-radius: $window_radius - 1;
          -gtk-outline-bottom-left-radius: $window_radius - 1;
        }
  
        &:last-child {
          border-bottom-right-radius: $window_radius - 1;
          -gtk-outline-bottom-right-radius: $window_radius - 1;
        }
      }
    }
  }
  
  filechooser {
    .dialog-action-box {
      border-top: 1px solid $borders_color;
    }
  
    #pathbarbox { border-bottom: 1px solid $bg_color; }
  }
  
  filechooserbutton:drop(active) {
    box-shadow: none;
    border-color: transparent;
  }