// ****************
// * Text Entries *
// ****************

@use 'shared' as *;
@use 'base' as *;
@use 'button' as *;

%entry,
entry {
  %entry_basic, & {
    min-height: 42px;
    padding: 0 16px;
    border: 1px solid transparent;
    border-radius: $button_radius;
    border-spacing: 12px;
    background: bg-color(-3);
    color: $view_fg_color;
    background-clip: padding-box;
    transition: all 200ms $ease-out-quad;
    caret-color: currentColor;
    box-shadow: inset 0 0 0 1px $border_color;

    @if $contrast == 'high' {
      box-shadow: inset 0 0 0 1px $border_color;
    }

    @include focus-ring($focus-state: ':focus');

    &:hover { background: state-color(bg-color(-3), $surface_fg_color, 1); }

    &:active { background: state-color(bg-color(-3), $surface_fg_color, 2); }

    &:backdrop {
      color: gtkmix($view_fg_color, $view_bg_color, 70%);
      background: state-color(bg-color(-3), $surface_fg_color, 0);
      box-shadow: none;
    }

    &:disabled {
      background: gtkalpha($view_fg_color, 0.12);
      color: gtkalpha($view_fg_color, 0.38);
      box-shadow: none;
    }

    &.flat {
      &:focus, &:backdrop, &:disabled, &:backdrop:disabled, & {
        min-height: 0;
        padding: 2px;
        background-color: transparent;
        box-shadow: none;
        border-radius: 0;
      }
    }

    selection { @extend %selected_items; }

    // entry error, warning, success style
    @each $e_type, $e_color in (error, $error_color),
                               (warning, $warning_color),
                               (success, $success_color) {
      &.#{$e_type} {
        @include focus-ring($focus-state: ':focus', $fc: $borders);

        &:focus {
          outline-color: $e_color;
        }

        selection { background-color: gtkalpha($e_color, 0.2); }
      }
    }

    image { // icons inside the entry
      opacity: if($contrast == 'high', 0.85, 0.7);
      transition: opacity 150ms ease;

      &:hover { opacity: 1; }

      &:active { opacity: if($contrast == 'high', 0.9, 0.8); }

      &.left { margin-right: 0; }
      &.right { margin-left: 0; }
    }

    &.password image.caps-lock-indicator { opacity: $dimmer_opacity; }

    &:drop(active) {
      &:focus, & {
        border-color: $drop_target_color;
        box-shadow: inset 0 0 0 1px $drop_target_color;
      }
    }

    .osd & {
      background: gtkalpha($osd_fill_bg_color, 0.85);
      color: $osd_fill_fg_color;
      box-shadow: none;

      &:focus { outline-color: $osd_focus_color; }

      &:disabled {
        color: $osd_insensitive_fg_color;
        background: $osd_insensitive_bg_color;
      }
    }
  }

  > progress {
    margin-bottom: 3px;

    > trough > progress {
      background-color: transparent;
      background-image: none;
      border-radius: 0;
      border-width: 0 0 2px;
      border-color: $accent_bg_color;
      border-style: solid;
      box-shadow: none;
    }
  }

   // linked entries
  .linked:not(.vertical) > & { @extend %linked; }
  .linked:not(.vertical) > &:focus + &,
  .linked:not(.vertical) > &:focus + button,
  .linked:not(.vertical) > &:focus + combobox > box > button.combo { border-left-color: entry_focus_border(); }

  .linked:not(.vertical) > &:focus.error + &,
  .linked:not(.vertical) > &:focus.error + button,
  .linked:not(.vertical) > &:focus.error + combobox > box > button.combo { border-left-color: entry_focus_border($error_bg_color); }

  .linked:not(.vertical) > &:drop(active) + &,
  .linked:not(.vertical) > &:drop(active) + button,
  .linked:not(.vertical) > &:drop(active) + combobox > box > button.combo { border-left-color: $drop_target_color; }

  // Vertically linked entries
  // FIXME: take care of "colored" entries
  .linked.vertical > & {
    @extend %linked_vertical;

    // brighter border between linked entries
    &:not(:disabled) + entry:not(:disabled),
    &:not(:disabled) + %entry:not(:disabled) {
      border-top-color: gtkmix($borders_color, $base_color, 30%);

      &:backdrop { border-top-color: gtkmix($backdrop_borders_color, $backdrop_base_color, 30%); }
    }

    // brighter border between linked insensitive entries
    &:disabled + %entry:disabled,
    &:disabled + entry:disabled { border-top-color: gtkmix($borders_color, $base_color, 30%); }

    // color back the top border of a linked focused entry following another entry.
    // :not(:only-child) is a specificity bump hack.
    + %entry:focus:not(:only-child),
    + entry:focus:not(:only-child) { border-top-color: entry_focus_border(); }

    + %entry:focus.error:not(:only-child),
    + entry:focus.error:not(:only-child) { border-top-color: entry_focus_border($error_bg_color); }

    + %entry:drop(active):not(:only-child),
    + entry:drop(active):not(:only-child) { border-top-color: $drop_target_color; }

    // this takes care of coloring the top border of the focused entry subsequent widget.
    // :not(:only-child) is a specificity bump hack.
    &:focus:not(:only-child) {
      + %entry,
      + entry,
      + button,
      + combobox > box > button.combo { border-top-color: entry_focus_border(); }
    }

    &:focus.error:not(:only-child) {
      + %entry,
      + entry,
      + button,
      + combobox > box > button.combo { border-top-color: entry_focus_border($error_bg_color); }
    }

    &:drop(active):not(:only-child) {
      + %entry,
      + entry,
      + button,
      + combobox > box > button.combo { border-top-color: $drop_target_color; }
    }
  }

  &.error { color: $error_bg_color; }
}

treeview entry {
  &:focus {
    &:dir(rtl), &:dir(ltr) { // specificity bump hack
      background-color: $base_color;
      transition-property: color, background;
    }
  }

  &.flat, & {
    border-radius: 0;
    background-image: none;
    background-color: $base_color;

    &:focus { border-color: $selected_bg_color; }
  }
}

.entry-tag {
  // sizing
  padding: 5px;

  margin-top: 2px;
  margin-bottom: 2px;

  // side margins: compensate the entry padding with a negative margin
  // then the negative margin itself
  :dir(ltr) & {
    margin-left: 8px;
    margin-right: -5px;
  }
  :dir(rtl) & {
    margin-left: -5px;
    margin-right: 8px;
  }

  border-style: none;

  $_entry_tag_color: if($variant=='light', $selected_fg_color, $base_color);
  color: $_entry_tag_color;

  $_entry_tag_bg: if($variant=='light', $selected_bg_color, gtkmix($fg_color, $base_color, 50%));
  background-color: $_entry_tag_bg;

  &:hover {
    background-color: gtkmix(white, $_entry_tag_bg, 10%);
  }

  :backdrop & {
    color: $backdrop_base_color;
    background-color: if($variant=='light', $selected_bg_color,
                                            gtkmix($backdrop_fg_color, $backdrop_base_color, 50%));
  }

  &.button {
    background-color: transparent;
    color: gtkalpha($_entry_tag_color, 0.7);
  }

  :not(:backdrop) &.button {
    &:hover {
      border: 1px solid $_entry_tag_bg;
      color: $_entry_tag_color;
    }
    &:active {
      background-color: $_entry_tag_bg;
      color: gtkalpha($_entry_tag_color, 0.7);
    }
  }
}