// *********************
// * App Notifications *
// *********************
.app-notification,
.app-notification.frame {
  @extend %osd;

  padding: 10px;
  border-radius: 0 0 $card_radius $card_radius;
  background-color: $osd_bg_color;
  background-image: linear-gradient(to bottom, transparentize(black, 0.8),
                                               transparent 2px);
  background-clip: padding-box;
  border: none;

  &:backdrop {
    background-image: none;
    transition: $backdrop_transition;
  }

  button { @extend %osd_button; }

  border { border: none; }
}


// ************
// * Calendar *
// ************
calendar {
  color: $text_color;
  border: 1px solid $borders_color;

  &:selected {
    @extend %selected_items;

    border-radius: $button_radius;
  }

  &.header {
    border-bottom-color: transparentize(black, 0.9);

    &:backdrop { border-bottom-color: transparentize(black, 0.9); }
  }

  &.button {
    @extend %undecorated_button;

    color: gtkalpha($fg_color, 0.45);

    &:hover { color: $fg_color; }

    &:backdrop { color: gtkalpha($backdrop_fg_color,0.45); }

    &:disabled { color:  gtkalpha($insensitive_fg_color,0.45); }
  }

  &.highlight {
    color: $insensitive_fg_color;

    &:backdrop { color: $backdrop_insensitive_color; }
  }

  &:backdrop {
    color: $backdrop_text_color;
    border-color: $backdrop_borders_color;
  }

  &:indeterminate { color: gtkalpha(currentColor, 0.1); }
}

// ************
// * Chromium *
// ************

window.background.chromium {
  background-color: if($variant == 'light', $bg_color, gtkmix(currentColor, $bg_color, 10%));

  headerbar.titlebar button.titlebutton {
    background-color: none;
    border-radius: 6px;
  }
  headerbar.titlebar button.titlebutton.close {
    background-color: gtkmix(currentColor, $bg_color, 20%);
  }

  entry,
  > button {
    border-color: gtkmix(currentColor, $bg_color, 27%);
    background-color: gtkmix(currentColor, $bg_color, 20%);
  }

  textview.view { 
    background-color: $base_color;
  }
}

// ***********
// * Firefox *
// ***********

#MozillaGtkWidget.background {
  button { font-weight: initial; }

  @if $variant == 'light' {
    scrollbar slider {
      background-color: gtkalpha(currentColor, .4);
      &:hover { background-color: gtkalpha(currentColor, .6); }
    }
  }

  // https://github.com/lassekongo83/adw-gtk3/issues/130
  menuitem {
    check,
    radio {
      min-height: 12px;
      min-width: 12px;
    }
  }
}
@if $variant == 'dark' {
  #MozillaGtkWidget {
    &.background { background-color: $headerbar_bg_color; }

    > widget {
      border { border-color: $borders_color; }
    }
  }
}