// ************
// * Popovers *
// ************

@use 'shared' as *;
@use 'base' as *;
@use 'button' as *;
popover.background {
  background: bg-color(-2);
  color: inherit;
  font: inherit;

  > arrow,
  > contents {
    background: bg-color(-2);
    color: $window_fg_color;
    border-radius: $popover_radius;
    background-clip: padding-box;
    border: 1px solid $popover_border_emphasis_color;
    box-shadow: 0 1px 5px 1px $popover_shadow_near_color,
        0 2px 14px 3px $popover_shadow_far_color;
    transition: all 200ms $ease-out-quad;
  }

  > contents {
    padding: 0;

    > list,
    > .view,
    > toolbar {
      border-style: none;
      background: transparent;
    }

    separator { margin: 6px 0; }
  }

  list separator { margin: 0; }

  &.touch-selection,
  &.magnifier,
  &.osd {
    background: transparent;

    > arrow,
    > contents {
      @extend %osd;

      border: 1px solid $osd_popover_border_color;
      box-shadow: none;
    }
  }
}

// *********
// * Emoji *
// *********
popover.emoji-picker {
  > contents { padding: 0; }

  entry.search { margin: 6px; }
}

.emoji-toolbar { padding: 3px; }

button.emoji-section.image-button:not(.raised):not(.suggested-action):not(.destructive-action):not(.opaque) {
  @extend %circular_button;
  @extend %button_basic_flat;

  min-width: 32px;
  min-height: 32px;
}

popover.emoji-picker .emoji {
  font-size: x-large;
  padding: 6px;
  border-radius: $button_radius;

  &:focus,
  &:hover {
    background: $view_selected_color;
    color: $view_fg_color;

    &:active { background: $view_active_color; }
  }
}

popover.emoji-picker scrolledwindow.view {
  background: none;
  color: inherit;

  > undershoot.top { box-shadow: inset 0 1px $border_color; }
  > undershoot.bottom { box-shadow: inset 0 -1px $border_color; }
}

popover.emoji-completion {
  > contents { padding: $menu_margin; }

  arrow {
    border: none;
    background: none;
  }

  .emoji:hover { background: $view_hover_color; }

  contents row box { padding: 2px 10px; }
}