// **********************
// * General Typography *
// **********************

@use 'shared' as *;
@use 'base' as *;

.large-title {
    font-size: 24pt;
 }
 .title-1 {
    font-size: 20pt;
 }
 .title-2 {
    font-size: 15pt;
 }
 .title-3 {
    font-size: 15pt;
 }
 .title-4 {
    font-size: 13pt;
 }
 .heading {
    font-size: 10pt;
 }
 .caption-heading {
    font-size: 12pt;
 }