// These are the colors apps are can override. We define the defaults here and
// define variables for them in _colors.scss

// Primary
@define-color accent_bg_color #{if($variant == 'dark', #DAB9FF, #6E5093)};
@define-color accent_fg_color #{"" + if($variant == 'light', #FFFFFF, #000000)};
@define-color accent_color #{if($variant == 'dark', #DAB9FF, #6E5093)};

// Primary container
@define-color accent_container_bg_color #{if($variant == 'dark', #553978, #EEDBFF)};
@define-color accent_container_fg_color #{"" + if($variant == 'light', #FFFFFF, #000000)};
@define-color accent_container_color #{if($variant == 'dark', #553978, #EEDBFF)};

// Secondary
@define-color suggested_bg_color #{if($variant == 'dark', #D0C1DD, #655A70)};
@define-color suggested_fg_color #{"" + if($variant == 'light', #FFFFFF, #000000)};
@define-color suggested_color #{if($variant == 'dark', #D0C1DD, #655A70)};

// Secondary container
@define-color suggested_container_bg_color #{if($variant == 'dark', #4D4357, #EDDDFA)};
@define-color suggested_container_fg_color #{"" + if($variant == 'light', #FFFFFF, #000000)};
@define-color suggested_container_color #{if($variant == 'dark', #4D4357, #EDDDFA)};

// Destructive
@define-color destructive_bg_color #{if($variant == 'dark', #F7B5C2, #B61D49)};
@define-color destructive_fg_color #{"" + if($variant == 'light', #000000, #FFFFFF)};
@define-color destructive_color #{if($variant == 'dark', #F7B5C2, #B61D49)};

// Destructive container
@define-color destructive_container_bg_color #{if($variant == 'dark', #46141F, #46141F)};
@define-color destructive_container_fg_color #{"" + if($variant == 'light', #FFFFFF, #000000)};
@define-color destructive_container_color #{if($variant == 'dark', #46141F, #46141F)};

// Tertiary
@define-color success_bg_color #{if($variant == 'dark', #F6B5BF, #805159)};
@define-color success_fg_color #{"" + if($variant == 'light', #000000, #FFFFFF)};
@define-color success_color #{if($variant == 'dark', #F6B5BF, #805159)};

// Tertiary container
@define-color success_container_bg_color #{if($variant == 'dark', #653B42, #FFD9DE)};
@define-color success_container_fg_color #{"" + if($variant == 'light', #FFFFFF, #000000)};
@define-color success_container_color #{if($variant == 'dark', #653B42, #FFD9DE)};

// Error
@define-color error_bg_color #{if($variant == 'dark', #F7B5C2, #B61D49)};
@define-color error_fg_color #{"" + if($variant == 'light', #000000, #FFFFFF)};
@define-color error_color #{if($variant == 'dark', #F7B5C2, #B61D49)};

// Error container
@define-color error_container_bg_color #{if($variant == 'dark', #46141F, #F9DBE0)};
@define-color error_container_fg_color #{"" + if($variant == 'light', #FFFFFF, #000000)};
@define-color error_container_color #{if($variant == 'dark', #46141F, #F9DBE0)};

// Window
@define-color window_bg_color #{"" + if($variant == 'light', #FFFFFF, #151515)};
@define-color window_fg_color #{"" + if($variant == 'light', #000000, #FFFFFF)};

// View
@define-color view_bg_color #{"" + if($variant == 'light', #FFFFFF, #151515)};
@define-color view_fg_color #{"" + if($variant == 'light', #000000, #FFFFFF)};

// Headerbar
@define-color headerbar_bg_color #{"" + if($variant == 'light', #FFFFFF, #151515)};
@define-color headerbar_fg_color #{"" + if($variant == 'light', #000000, #FFFFFF)};
@define-color headerbar_border_color #{"" + if($variant == 'light', #000000, #FFFFFF)};
@define-color headerbar_backdrop_color #{"" + if($variant == 'light', #FAFAFA, #252525)};
@define-color headerbar_shade_color #{if($variant == 'light', gtkalpha(#000000, 0.38), gtkalpha(#000000, 0.38))};

// Cards
@define-color card_bg_color #{"" + if($variant == 'light', #FFFFFF, gtkalpha(white, 0.08))};
@define-color card_fg_color #{"" + if($variant == 'light', #000000, #FFFFFF)};
@define-color card_shade_color #{if($variant == 'light', gtkalpha(#000000, 0.38), gtkalpha(#000000, 0.38))};

// Popovers
@define-color popover_bg_color #{"" + if($variant == 'light', #FFFFFF, #000000)};
@define-color popover_fg_color #{"" + if($variant == 'light', #000000, #FFFFFF)};

// Outline & Borders
@define-color outline #{if($variant == 'light', gtkalpha(#000000, .38), gtkalpha(#FFFFFF, .38))};
@define-color borders #{if($variant == 'light', gtkalpha(#000000, .76), gtkalpha(#FFFFFF, .76))};

// Shade & scrim
@define-color shadow #{if($variant == 'light', gtkalpha(#000000, .93), gtkalpha(#000000, .64))};
@define-color scrim #{if($variant == 'light', gtkalpha(#000000, .93), gtkalpha(#000000, .64))};

// Misc
@define-color scrollbar_outline_color #{if($variant == 'light', gtkalpha(#000000, .38), gtkalpha(#FFFFFF, .38))};
@define-color warning_bg_color #{if($variant == 'dark', #F7812B, #F7812B)};
@define-color warning_fg_color #{"" + if($variant == 'light', #000000, #FFFFFF)};
@define-color warning_color #{if($variant == 'dark', #F7812B, #F7812B)};

@define-color info_bg_color #{if($variant == 'dark', #268EF9, #268EF9)};
@define-color info_fg_color #{"" + if($variant == 'light', #000000, #FFFFFF)};
@define-color info_color #{if($variant == 'dark', #268EF9, #268EF9)};

// Reference
@define-color bg_color #{"" + if($variant == 'light', #FFFFFF, #000000)};

// Tooltips & OSD
@define-color osd_bg_color #{"" + if($variant == 'light', #000000, #000000)};
@define-color osd_fg_color #{"" + if($variant == 'light', #FFFFFF, #FFFFFF)};
@define-color osd_accent_color #{if($variant == 'light', #888, #333)};

// Surface
@define-color surface_container_lowest_bg_color #{"" + if($variant == 'light', #FFFFFF, #000000)};
@define-color surface_container_low_bg_color #{"" + if($variant == 'light', #FAFAFA, #121212)};
@define-color surface_container_bg_color #{"" + if($variant == 'light', #F0F0F0, #15151515)};
@define-color surface_container_high_bg_color #{"" + if($variant == 'light', #EDEDED, #1d1d1d)};
@define-color surface_container_highest_bg_color #{"" + if($variant == 'light', #D9D9D9, #202020)};

@define-color surface_bright_bg_color #{"" + if($variant == 'light', #FAFAFA, #333333)};
@define-color surface_bg_color #{"" + if($variant == 'light', #FAFAFA, #151515)};
@define-color surface_fg_color #{"" + if($variant == 'light', #000000, #FFFFFF)};
@define-color surface_dim_bg_color #{"" + if($variant == 'light', #F0F0F0, #121212)};