/* Typography */

.display {
  font-size: 30pt;
  line-height: 32pt;
  font-weight: 300;
}

.view-title {
  font-size: 18pt;
  line-height: 20pt;
  font-weight: 300;
}

.view-subtitle {
  font-size: 15pt;
  line-height: 17pt;
  font-weight: 400;
}

.cb-title {
  font-size: 13.5pt;
  line-height: 15.5pt;
  font-weight: 700;
}

.cb-subtitle {
  font-size: 11.25pt;
  line-height: 13.25pt;
  font-weight: 400;
}

.header {
  font-size: 10pt;
  line-height: 12pt;
  font-weight: 700;
  text-transform: uppercase;
}

.body {
  font-size: 10pt;
  line-height: 12pt;
  font-weight: 400;
}

.caption {
  font-size: 6.75pt;
  line-height: 8.75pt;
  font-weight: 700;
}

/* Colors */

$meson-red: if($variant == 'light', #DB2860, #EA80A0);
$lepton-orange: if($variant == 'light', #F7812B, #FBBB8D);
$electron-yellow: if($variant == 'light', #FEBC16, #FED97C);
$muon-green: if($variant == 'light', #49D05E, #9AE5A6);
$proton-blue: if($variant == 'light', #268EF9, #8AC2FB);
$photon-indigo: if($variant == 'light', #4426FA, #8572FF);
$tau-purple: if($variant == 'light', #8C56BF, #BEA0DB);
$fermion-pink: if($variant == 'light', #BF56A8, #DB9FCD);
$baryon-mint: if($variant == 'light', #56BFA6, #AEE0D4);
$gluon-brown: if($variant == 'light', #BF8856, #E0C6AE);
$neutron-light: if($variant == 'light', #ababb6, #cdcdd4);
$graviton-dark: if($variant == 'light', #2d2d2d, #474747);

@define-color meson-red #{$meson-red};
@define-color lepton-orange #{$lepton-orange};
@define-color electron-yellow #{$electron-yellow};
@define-color muon-green #{$muon-green};
@define-color proton-blue #{$proton-blue};
@define-color photon-indigo #{$photon-indigo};
@define-color fermion-pink #{$fermion-pink};
@define-color baryon-mint #{$baryon-mint};
@define-color gluon-brown #{$gluon-brown};
@define-color neutron-light #{$neutron-light};
@define-color graviton-dark #{$graviton-dark};

.meson-red {
  background-color: $meson-red;
}

.lepton-orange {
  background-color: $lepton-orange;
}

.electron-yellow {
  background-color: $electron-yellow;
}

.muon-green {
  background-color: $muon-green;
}

.proton-blue {
  background-color: $proton-blue;
}

.photon-indigo {
  background-color: $photon-indigo;
}

.fermion-pink {
  background-color: $fermion-pink;
}

.baryon-mint {
  background-color: $baryon-mint;
}

.gluon-brown {
  background-color: $gluon-brown;
}

.neutron-light {
  background-color: $neutron-light;
}

.graviton-dark {
  background-color: $graviton-dark;
}

/* tauOS Widgets */

.overlay-button {
  background-color: $accent_bg_color;
  color: $accent_fg_color;
  padding: 13px;
  border-radius: 999px;
}
.overlay-button image {
  min-width: 24px;
  min-height: 24px;
}

.overlay-button.small {
  padding: 5px;
}
.overlay-button.small image {
  min-width: 16px;
  min-height: 16px;
}

.overlay-button.large {
  padding: 32px;
}
.overlay-button.large image {
  min-width: 32px;
  min-height: 32px;
}

.overlay-button.textual {
    padding-left: 9px;
    padding-right: 9px;

    > box,
    > box > box {
      border-spacing: 4px;

      > label {
        padding-left: 2px;
        padding-right: 2px;
      }
    }
}

.content-block {
  border-radius: 12px;
  padding: 12px 6px;
  margin: 6px 0;
}

.mini-content-block {
  border-radius: 12px;
  margin: 3px 0;
  padding: 6px 3px;
}

.chip {
  border: 1px solid $border_color;
}
.chip:hover {
  border: 2px solid $border_color;
}
.chip:active {
  border: 2px solid $border_color;
  background-color: $border_color;
}

.banner {
  background: $view_bg_color;
  box-shadow: 0 0 8px 4px alpha(#000, 0.10);
  padding: 18px;
  margin-top: 12px;
  margin-bottom: 18px;

  & box {
	  background: none;
	  box-shadow: none;
	  margin: 0;
	  padding: 0;
  }

  & image {
    -gtk-icon-size: 32px;
  }

  &.info {
    background: if($variant == 'light', #EDF6FE, #0453A4);
    color: if($variant == 'light', #0453A4, #8AC2FB);
  }
  
  &.warning {
    background: if($variant == 'light', #FFF6EF, #A24806);
    color: if($variant == 'light', #A24806, #FBBB8D);
  }

  &.error {
    background: if($variant == 'light', #F8D8E2, #90183D);
    color: if($variant == 'light', #90183D, #EA80A0);
  }
}
