/* Typography */

.display {
  font-size: 30pt;
  line-height: 32pt;
  font-weight: 300;
}

.view-title {
  font-size: 18pt;
  line-height: 20pt;
  font-weight: 300;
}

.view-subtitle {
  font-size: 15pt;
  line-height: 17pt;
  font-weight: 400;
}

.cb-title {
  font-size: 13.5pt;
  line-height: 15.5pt;
  font-weight: 700;
}

.cb-subtitle {
  font-size: 11.25pt;
  line-height: 13.25pt;
  font-weight: 400;
}

.header {
  font-size: 10pt;
  line-height: 12pt;
  font-weight: 700;
  text-transform: uppercase;
}

.body {
  font-size: 10pt;
  line-height: 12pt;
  font-weight: 400;
}

.caption {
  font-size: 9pt;
  line-height: 8.75pt;
  font-weight: 700;
}

/*
* Colors
* ------
* These have forced fg colors in each situation,
* for each one based on WCAG contrast.
*/

$meson-red: if($variant == "light", #db2860, #ea80a0);
$lepton-orange: if($variant == "light", #f7812b, #fbbb8d);
$electron-yellow: if($variant == "light", #e0a101, #fee8af);
$muon-green: if($variant == "light", #49d05e, #9ae5a6);
$proton-blue: if($variant == "light", #268ef9, #8ac2fb);
$photon-indigo: if($variant == "light", #4426fa, #8572ff);
$tau-purple: if($variant == "light", #8c56bf, #bea0db);
$fermion-pink: if($variant == "light", #bf56a8, #db9fcd);
$baryon-mint: if($variant == "light", #56bfa6, #aee0d4);
$gluon-brown: if($variant == "light", #bf8856, #e0c6ae);
$neutron-light: if($variant == "light", #ababb6, #cdcdd4);
$graviton-dark: if($variant == "light", #2d2d2d, #474747);

$colors: (
  "meson-red": $meson-red,
  "lepton-orange": $lepton-orange,
  "electron-yellow": $electron-yellow,
  "muon-green": $muon-green,
  "proton-blue": $proton-blue,
  "photon-indigo": $photon-indigo,
  "tau-purple": $tau-purple,
  "fermion-pink": $fermion-pink,
  "baryon-mint": $baryon-mint,
  "gluon-brown": $gluon-brown,
  "neutron-light": $neutron-light,
  "graviton-dark": $graviton-dark,
);

@each $name, $color in $colors {
  .bg-#{$name},
  button.bg-#{$name},
  switch.bg-#{$name} {
    background-color: $color;
    color: $accent_fg_color;
	  
    &:hover {
      background-color: if(
        $variant == "light",
        gtkshade($color, 1.1),
        gtkshade($color, 0.9)
      );
    }

    &:active {
      background-color: if(
        $variant == "light",
        gtkshade($color, 1.2),
        gtkshade($color, 0.8)
      );
    }
  }

  .text-#{$name} {
    color: $color;
  }

  .fill-button.#{$name} {
    background-color: $color;
    color: $accent_fg_color;

    &:hover {
      background-color: if(
        $variant == "light",
        gtkshade($color, 1.1),
        gtkshade($color, 0.9)
      );
    }

    &:active {
      background-color: if(
        $variant == "light",
        gtkshade($color, 1.2),
        gtkshade($color, 0.8)
      );
    }
  }

  .tint-button.#{$name} {
    background-color: gtkalpha($color, 0.1);
    color: gtkmix($color, $view_fg_color, 0.66);

    &:hover {
      background-color: gtkalpha($color, 0.2);
      color: gtkmix($color, $view_fg_color, 0.66);
    }

    &:active {
      background-color: gtkalpha($color, 0.3);
      color: gtkmix($color, $view_fg_color, 0.66);
    }
  }

  .outline-button.#{$name} {
    background-color: transparent;
    box-shadow: inset 0 0 0 1px gtkalpha($color, 0.25);
    color: gtkmix($color, $view_fg_color, 0.66);

    &:hover {
      background-color: gtkalpha($color, 0.2);
      color: gtkmix($color, $view_fg_color, 0.66);
    }

    &:active {
      background-color: gtkalpha($color, 0.3);
      color: gtkmix($color, $view_fg_color, 0.66);
    }
  }

  .textual-button.#{$name} {
    background-color: transparent;
    color: gtkmix($color, $view_fg_color, 0.66);

    &:hover {
      background-color: gtkalpha($color, 0.1);
      color: gtkmix($color, $view_fg_color, 0.66);
    }

    &:active {
      background-color: gtkalpha($color, 0.2);
      color: gtkmix($color, $view_fg_color, 0.66);
    }
  }

  .overlay-button.#{$name} {
    background-color: $color;
    color: $accent_fg_color;
    box-shadow: shadow(3);
  
    &:hover {
      background-color: if(
        $variant == "light",
        gtkshade($color, 0.95),
        gtkshade($color, 1.05)
      );
      box-shadow: shadow(4);
    }

    &:active {
      background-color: if(
        $variant == "light",
        gtkshade($color, 0.88),
        gtkshade($color, 1.12)
      );
      box-shadow: shadow(3);
    }
  }

  .pill-button.#{$name} {
    background-color: $color;
    color: $accent_fg_color;

    &:hover {
      background-color: if(
        $variant == "light",
        gtkshade($color, 1.1),
        gtkshade($color, 0.9)
      );
    }

    &:active {
      background-color: if(
        $variant == "light",
        gtkshade($color, 1.2),
        gtkshade($color, 0.8)
      );
    }
  }

  .badge-info.#{$name} {
    background-color: gtkalpha($color, 0.1);
    color: $color;
  }

  .modifier-badge.#{$name} {
    background-color: $color;
    color: $accent_fg_color;
  }

  .tint-badge.#{$name} {
    background-color: gtkalpha($color, 0.1);
    color: $color;
  }

  .link-button.#{$name} {
    label {
      color: $color;
      padding: rem(2px) rem(4px);
    }

    &:hover label {
      color: $accent_fg_color;
    }
  }
}

.pill-button {
  padding: rem(10px) rem(32px);
  border-radius: rem(9999px);
  background-color: $accent_bg_color;
  color: $accent_fg_color;
  &:hover {
    background-color: if(
      $variant == "light",
      gtkshade($accent_bg_color, 1.1),
      gtkshade($accent_bg_color, 0.9)
    );
    box-shadow: shadow(1);
  }

  &:active {
    background-color: if(
      $variant == "light",
      gtkshade($accent_bg_color, 1.2),
      gtkshade($accent_bg_color, 0.8)
    );
  }
}

.disclosure-button {
  border-radius: rem(9999px);
  color: $view_fg_color;
  
  & button {
    border-radius: rem(9999px);
  }
}

.outline-button {
  background-color: transparent;
  box-shadow: inset 0 0 0 rem(1px) gtkalpha($accent_color, 0.25);
  color: $accent_color;

  &:hover {
    background-color: gtkalpha($accent_bg_color, 0.2);
    color: $accent_color;
	  box-shadow: shadow(1);
  }

  &:active {
    background-color: gtkalpha($accent_bg_color, 0.3);
    color: $accent_color;
  }
}

.overlay-button-row {
  margin: rem(18px);
}
.overlay-button {
  padding: rem(16px);
  min-width: rem(28px);
  min-height: rem(28px);
  border-radius: rem(999px);
  background: bg-color(3), $view_fg_color;
  color: $accent_color;
  box-shadow: shadow(3);
  
  &:hover {
    background: bg-color(4), $view_fg_color;
    box-shadow: shadow(4);
  }

  &:active {
    background: bg-color(3), $view_fg_color;
    box-shadow: shadow(3);
  }

  & box image {
    -gtk-icon-size: 24px;
    min-width: rem(28px);
  }

  &.small {
    padding: rem(8px);
    min-width: rem(20px);
    min-height: rem(20px);
  }
  &.small box image {
    -gtk-icon-size: 24px;
    min-width: rem(20px);
  }

  &.large {
    padding: rem(30px);
    min-width: rem(48px);
    min-height: rem(48px);
  }
  &.large box image {
    -gtk-icon-size: 36px;
    min-width: rem(48px);
  }

  &.textual {
    padding: rem(16px) rem(20px) rem(16px) rem(16px);
    min-height: rem(28px);
    min-width: rem(80px);

    > box > label {
        margin-left: 12px;
    }
    
    > box:rtl > label {
        margin-right: 12px;
    }
  }
}

.fill-button {
  background-color: $accent_bg_color;
  color: $accent_fg_color;

  &:hover {
    background-color: if(
      $variant == "light",
      gtkshade($accent_bg_color, 1.1),
      gtkshade($accent_bg_color, 0.9)
    );
		box-shadow: shadow(1);
  }

  &:active {
    background-color: if(
      $variant == "light",
      gtkshade($accent_bg_color, 1.2),
      gtkshade($accent_bg_color, 0.8)
    );
  }
}

.tint-button {
  background-color: gtkalpha($accent_bg_color, 0.1);
  color: gtkmix($accent_bg_color, $view_fg_color, 0.5);

  &:hover {
    background-color: gtkalpha($accent_bg_color, 0.2);
    color: gtkmix($accent_bg_color, $view_fg_color, 0.5);
		box-shadow: shadow(1);
  }

  &:active {
    background-color: gtkalpha($accent_bg_color, 0.3);
    color: gtkmix($accent_bg_color, $view_fg_color, 0.5);
  }
}

.textual-button {
  background-color: transparent;
  color: $accent_color;

  &:hover {
    background-color: gtkalpha($accent_bg_color, 0.1);
    color: $accent_color;
		box-shadow: shadow(1);
  }

  &:active {
    background-color: gtkalpha($accent_bg_color, 0.2);
    color: $accent_color;
  }
}

.badge-info {
  background-color: gtkalpha($accent_bg_color, 0.1);
  color: gtkmix($accent_bg_color, $view_fg_color, 0.9);
}

.modifier-badge {
  background-color: gtkmix($electron-yellow, $accent_bg_color, 0.1);
  color: gtkmix($accent_bg_color, $view_fg_color, 0.9);
}

.tint-badge {
  background-color: bg-color(2);
  color: gtkmix($accent_bg_color, $view_fg_color, 0.9);
}

.content-block {
  border-radius: rem(12px);
  padding: rem(18px);
  margin: rem(6px) 0;
  background-color: bg-color(1);

  & entry {
    background-color: bg-color(2);
    color: $window_fg_color;
  }

  row:hover & {
    background-color: bg-color(2);
    color: $accent_color;
  }

  row:active & {
    background-color: bg-color(3);
    color: $accent_color;
  }

  row:selected & {
    background-color: bg-color(3);
    color: $accent_color;
  }

  row:selected:hover & {
    background-color: bg-color(4);
    color: $accent_color;
  }
}

.content-block-image {
  border-radius: rem(12px);
  margin: 6px 0;
  background-color: bg-color(1);
}

.mini-content-block {
  border-radius: rem(12px);
  margin: rem(3px) 0;
  padding: rem(18px);
  background-color: bg-color(1);

  & entry {
    background-color: bg-color(2);
    color: $window_fg_color;
  }

  row:hover & {
    background-color: bg-color(2);
    color: $accent_color;
  }

  row:active & {
    background-color: bg-color(3);
    color: $accent_color;
  }

  row:selected & {
    background-color: bg-color(3);
    color: $accent_color;
  }

  row:selected:hover & {
    background-color: bg-color(4);
    color: $accent_color;
  }
}

.chip {
  box-shadow: inset 0 0 0 rem(1px) bg-color(5), inset 0 0 0 1px transparent;
  background-color: transparent;
}
.chip:hover {
  box-shadow: inset 0 0 0 rem(2px) bg-color(1);
  background-color: bg-color(1);
  color: $view_fg_color;
	box-shadow: shadow(1);
}
.chip:active {
  box-shadow: none;
  background-color: bg-color(2);
  color: $view_fg_color;
}

.banner {
  background: bg-color(1);
  box-shadow: 0 0 rem(8px) rem(4px) gtkalpha($view_fg_color, 0.1);
  padding: rem(18px);
  margin-top: rem(12px);
  margin-bottom: rem(18px);

  & box {
    background: none;
    box-shadow: none;
    margin: 0;
    padding: 0;
  }

  & image {
    -gtk-icon-size: rem(32px);
  }

  &.info {
    background: if($variant == "light", #edf6fe, #0453a4);
    color: if($variant == "light", #0453a4, #8ac2fb);
  }

  &.warning {
    background: if($variant == "light", #fff6ef, #a24806);
    color: if($variant == "light", #a24806, #fbbb8d);
  }

  &.error {
    background: if($variant == "light", #f8d8e2, #90183d);
    color: if($variant == "light", #90183d, #ea80a0);
  }
}

.bottom-bar {
  background: bg-color(2);
  color: $view_fg_color;
  padding: rem(12px);
  min-height: rem(48px);
}

.badge {
  border-radius: rem(9999px);
  border: rem(2px) solid $window_bg_color;
  background-color: $meson-red;
  margin-right: rem(-5px);
  margin-top: rem(-5px);
}
.content-block .badge {
  border: rem(2px) solid $card_bg_color;
}
.modifier-badge {
  border-radius: rem(9999px);
  padding: rem(8px);
  border: rem(2px) solid $window_bg_color;
  font-weight: 700;

  label {
    padding: rem(5px) rem(8px);
  }
}
.tint-badge {
  padding: rem(3px) rem(5px);
}
.content-block .modifier-badge {
  border: rem(2px) solid $card_bg_color;
}
.badge-info {
  border-radius: rem(8px);
  border: none;
  padding: rem(10px) rem(12px);
  margin-right: unset;
  margin-top: unset;
  font-weight: 700;
}

.toast-box {
  background: gtkmix(bg-color(-1), $accent_bg_color, 0.05);
  color: $view_bg_color;
  min-height: 48px;
  padding: rem(8px) rem(8px) rem(8px) rem(20px);
  border-radius: rem(4px);
	box-shadow: shadow(2);
	
	& button {
		background: none;
		font-weight: 900;
		color: $accent_color;
		
		&:hover {
			color: $accent_fg_color;
    }
    &:active {
			color: $accent_fg_color;
		}
	}
}

.view-switcher {
  margin: 0;

  &.mini button.toggle {
    border-radius: 0;
    margin: 0;
  }

  button.toggle {
    font-weight: 300;
    font-size: 18pt;
    line-height: 20pt;
    padding: 0;
    background: transparent;
    border-radius: 0;
    color: gtkalpha($view_fg_color, 0.5);

    &:hover {
      background: transparent;
      color: gtkalpha($view_fg_color, 0.75);
    }

    &:checked {
      background: transparent;
      color: $view_fg_color;
      font-weight: 500;
    }

    &:active {
      background: transparent;
      color: $view_fg_color;
      font-weight: 500;
    }

    &:checked:hover {
      background: transparent;
      color: $view_fg_color;
      font-weight: 500;
    }

    &:active:hover {
      background: transparent;
      color: $view_fg_color;
      font-weight: 500;
    }
  }
}

.content-list {
  background: inherit;

  row {
    border: none;
    background: transparent;

    &:selected:hover {
      background: transparent;
    }

    &:selected,
    &:hover,
    &:active {
      background: transparent;
    }
  }
}

.dialog-content {
  margin: rem(24px);
  border-radius: rem(26px);
}

.link-button {
  padding: 0;
  margin: 0;
  min-height: 0;
  min-width: 0;

  &:hover label {
    background: bg-color(1);
    color: $accent_color;
  }
}

.tab-holder {
  background: transparent;
  box-shadow: none;
  margin: 0;
  padding: 0;
  border: none;
}
.tab-holder tabs {
    margin: 0;
    padding: 0;
    border: none;
    box-shadow: none;
}
.tab-holder header {
    border: none;
    box-shadow: none;
    margin: 0;
    padding: 0;
}
  
.tab-holder .tab-child {
    background: transparent;
    box-shadow: none;
    border: rem(1px) solid transparent;
    border-radius: rem(12px);
    padding: 0;
    margin: 0;
}
.tab-holder .tab button {
    background: transparent;
    border-radius: rem(9999px);
    margin: 0 rem(12px);
    padding: 0;

    &:hover {
      background: bg-color(2);
      color: $view_fg_color;
    }
    &:active {
      background: bg-color(3);
      color: $view_fg_color;
    }
}
.tab-holder .tab {
    background: transparent;
    box-shadow: none;
    border-radius: rem(12px) rem(12px) 0 0;
    margin: rem(6px) rem(2px) 0;
    padding: rem(2px) 0;
    border: none;

    &:hover {
      background: $view_bg_color;
    }
    &:checked {
      background: $view_bg_color;
    }
}
.tab-holder .disclosure-button {
    padding: rem(4px);
    margin: rem(6px);
    background: bg-color(1);
}

.navigation-rail {
  background: none;
  padding: 0;
  margin: 0;
}
.navigation-rail-button {
  background: none;
  margin: rem(6px) rem(12px);
  padding: rem(6px);
  min-height: rem(57px);
  min-width: rem(57px);

  &:hover {
    background: bg-color(1);
    box-shadow: shadow(1);
  }
  &:checked {
    background: bg-color(2);
    box-shadow: shadow(2);
  }
  &:hover:checked {
    background: bg-color(3);
    box-shadow: shadow(1);
  }

  & image {
    margin: 0;
    padding: 0;
    margin-bottom: rem(6px);
    color: $view_fg_color;
    min-height: rem(32px);
  }
  & label {
    margin: 0;
    padding: 0;
    color: $view_fg_color;
    font-weight: 500;
  }
  &:checked label {
    font-weight: 900;
  }
  &:hover image {
    color: $view_fg_color;
    box-shadow: none;
  }
  &:checked image {
    color: $view_fg_color;
    box-shadow: none;
  }
  &:hover:checked image {
    color: $view_fg_color;
    box-shadow: none;
  }
}

.flat-appbar {
  padding: rem(10px) rem(8px) rem(8px) rem(10px);
  box-shadow: none;
}

.appbar {
  padding: rem(10px) rem(8px) rem(8px) rem(10px);
  background: bg-color(2);
  box-shadow: none;
}

.main-view {
  background: bg-color(0);
  color: $view_fg_color;

  & .mini-content-block,
  & .content-block {
    background: bg-color(1);
    
    & entry {
      background-color: bg-color(2);
    }
  }
}

.sidebar-view {
  background: bg-color(1);
}

.view-chooser {
  & button:hover {
    background: bg-color(2);
    color: $view_fg_color;
  }
  & button:checked {
    background: bg-color(3);
    color: $view_fg_color;
  }
  & button:hover:checked {
    background: bg-color(4);
    color: $view_fg_color;
  }
}

.segmented-button > button:not(:first-child),
.segmented-button > button:not(:last-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    box-shadow: 0 0 0 rem(1px) bg-color(1);
}
.segmented-button button:first-child {
    border-top-left-radius: rem(9999px);
    border-bottom-left-radius: rem(9999px);
    box-shadow: rem(-1px) 0 0 rem(1px) bg-color(1);
}
.segmented-button button:last-child {
    border-top-right-radius: rem(9999px);
    border-bottom-right-radius: rem(9999px);
    box-shadow: rem(1px) 0 0 rem(1px) bg-color(1);
}
.segmented-button button {
    min-width: rem(70px);
    min-height: rem(27.5px);
    box-shadow: 0 0 0 rem(1px) bg-color(1);
    color: $view_fg_color;
}
.segmented-button button:hover {
    background: bg-color(2);
    box-shadow: 0 0 0 rem(1px) bg-color(2);
}
.segmented-button button:active {
    background: $accent_bg_color;
    box-shadow: 0 0 0 rem(1px) $accent_bg_color;
    color: $accent_fg_color;
}
.segmented-button button:checked {
    background: $accent_bg_color;
    box-shadow: 0 0 0 rem(1px) $accent_bg_color;
    color: $accent_fg_color;
}
.segmented-button button image {
    margin-right: rem(9px);
    margin-left: rem(9px);
}


.text-field {
    background: bg-color(1);
    border-radius: 8px 8px 0 0;
    box-shadow: inset 0 0 0 1px bg-color(5),
		inset 0px -1px 0px 0px $view_fg_color;
    outline: none;
    min-height: 56px;

  & text {
    padding: 0px 8px;
    margin: 0;
  }
  & image {
    padding: 0px 6px;
    margin: 0;
    -gtk-icon-size: 24px;
  }

  &:hover {
    background: bg-color(2);
    box-shadow: inset 0 0 0 1px bg-color(5),
		inset 0px -1px 0px 0px $view_fg_color;
  }
  
  &:active,
  &:focus-within {
    background: bg-color(1);
    box-shadow: inset 0 0 0 1px bg-color(5),
		inset 0px -2px 0px 0px $view_fg_color;
  }

  &.tf-error {
    background: gtkalpha($error_bg_color, 0.05);
    color: $error_bg_color;
    box-shadow: inset 0 0 0 1px gtkalpha($error_bg_color, 0.1),
		            inset 0px -2px 0px 0px $error_bg_color;
    
    &:hover {
      background: gtkalpha($error_bg_color, 0.08);
      box-shadow: inset 0 0 0 1px gtkalpha($error_bg_color, 0.1),
                  inset 0px -1px 0px 0px $error_bg_color;
    }
  
    &:active,
    &:focus-within {
      background: gtkalpha($error_bg_color, 0.05);
      box-shadow: inset 0 0 0 1px gtkalpha($error_bg_color, 0.1),
                  inset 0px -2px 0px 0px $error_bg_color;
    }
  }

  &.tf-success {
    background: gtkalpha($success_bg_color, 0.05);
    color: $success_bg_color;
    box-shadow: inset 0 0 0 1px gtkalpha($success_bg_color, 0.1),
		            inset 0px -2px 0px 0px $success_bg_color;
    
    &:hover {
      background: gtkalpha($success_bg_color, 0.08);
      box-shadow: inset 0 0 0 1px gtkalpha($success_bg_color, 0.1),
                  inset 0px -1px 0px 0px $success_bg_color;
    }
  
    &:active,
    &:focus-within {
      background: gtkalpha($success_bg_color, 0.05);
      box-shadow: inset 0 0 0 1px gtkalpha($success_bg_color, 0.1),
                  inset 0px -2px 0px 0px $success_bg_color;
    }
  }
}
