calendar {
  background: bg-color(0);
  color: $view_fg_color;
  background-clip: padding-box;
  border: 1px solid $border_color;
  font-feature-settings: "tnum";

  > header {
    border-bottom: 1px solid $borders;

    > button {
      @extend %button_basic_flat;
      border-radius: 0;
    }
  }

  > grid {
    > label.today {
      box-shadow: inset 0px -2px $borders;

      &:selected {
        box-shadow: none;
      }
    }

    > label {
      @include focus-ring($focus-state: ':focus');

      &.day-number {
        padding: 4px;

        &:selected {
          border-radius: px-to-rem(999px);

          background: $accent_bg_color;
          color: $accent_fg_color;
        }
      }

      &.day-number.other-month {
        color: gtkalpha($view_fg_color, 0.3);
      }
    }
  }
}
