.deck {
    background-color: bg-color(3);
}

paper,
.card {
    background-color: bg-color(1);
    transition: background duration("in-place") $easing;

    &.collapsed {
        background-color: bg-color(2);
        transition: background duration("in-place") $easing;
    }

    &.rounded {
        border-radius: rem(12px);
    }
}
