colorchooser {
    /* This is 1px larger in the dark style because it's outside the swatch
     * instead of on top */
    $overlay-radius: rem(3px);

    colorswatch {
        margin: -1px 3px;

        &.top {
            border-top-width: 1px;
            border-top-left-radius: rem(3px);
            border-top-right-radius: rem(3px);

            overlay {
                border-top-width: 1px;
                border-top-left-radius: $overlay-radius;
                border-top-right-radius: $overlay-radius;
            }
        }

        &.bottom {
            border-bottom-width: 1px;
            border-bottom-left-radius: rem(3px);
            border-bottom-right-radius: rem(3px);

            overlay {
                border-bottom-width: 1px;
                border-bottom-left-radius: $overlay-radius;
                border-bottom-right-radius: $overlay-radius;
            }
        }

        overlay {
            border-bottom-width: 0;
            border-top-width: 0;

            @if $color-scheme == "dark" {
                margin: -2px 2px;
            }
        }

        &.dark overlay {
            color: white;
        }

        &.light overlay {
            color: rgba(black, 0.6);
        }
    }

    /*Value and Custom shades*/
    grid:nth-child(2) colorswatch,
    box box colorswatch {
        border-radius: rem(3px);

        overlay {
            border-radius: $overlay-radius;
            border-width: 1px;
        }
    }
}
