dropdown > popover.menu > contents { padding: 0; }

dropdown > button > box {
  border-spacing: 8px;

  > stack > row.activatable:hover {
    background: none;
  }
}

dropdown,
combobox {
  button {
    padding-top: 4px;
    padding-bottom: 4px;
    min-height: 48px;
    color: $view_fg_color;
  }

  arrow {
    -gtk-icon-source: -gtk-icontheme('pan-down-symbolic');
    min-height: 24px;
    min-width: 24px;
  }

  &:drop(active) {
    box-shadow: none;
    button.combo { @extend %button_basic_drop_active; }
  }

  popover {
    padding-top: 4px;
    color: $view_fg_color;

    listview {
      > row {
        min-width: 0;
      }
    }

    // dropdowns with searchboxes on top
    .dropdown-searchbar {
      padding: 6px;
      border-bottom: 1px solid $border_color;
    }
  }
}
