window.notification .draw-area {
    background-color: bg-color(2);
    border-radius: rem(12px);
    box-shadow: 0 0 0 1px $toplevel-border-color;

    image {
        color: rgba($fg-color, 0.78);
    }

    label.title {
        font-weight: 700;
    }

    .urgent label.title {
        color: #{'@error_color'};
    }
}
