popover {
  &.background {
    background: transparent;
    font: initial;
  }

  > arrow,
  > contents {
    background: $popover_bg_color;
    color: $popover_fg_color;
    border-radius: $popover_radius;
    transition: $trans-popover-scale;
    background-clip: padding-box;
    border: 1px solid gtkalpha(black, 0.14);
    box-shadow: 0 1px 5px 1px gtkalpha(black, 0.09),
      0 2px 14px 3px gtkalpha(black, 0.05);
  }

  > contents {
    > list,
    > .view,
    > toolbar {
      border-style: none;
      background: transparent;
    }
  }

  .osd &,
  &.touch-selection,
  &.magnifier {
    background: transparent;

    > arrow,
    > contents {
      @extend %osd;

      border: 1px solid gtkalpha(white, 0.9);
      box-shadow: none;
    }
  }
}
