scale {
    fill {
        background-color: rgba(black, 0.5);
    }

    highlight {
        background-color: #{'alpha(@accent_color, 0.5)'};

        &:disabled {
            background-color: rgba($fg-color, 0.5);
        }
    }

    mark indicator {
        color: mix(bg-color(4), $fg-color, $weight: 75%);
    }

    slider {
        @extend %outset-background;
        background-color: #{'alpha(@accent_color, 1)'};
        border-radius: rem(99px);
        min-height: rem(18px);
        min-width: rem(18px);

        &:disabled {
            background-color: transparent;
            background-image: none;
            border: none;
        }
    }

    trough {
        border-radius: rem(12px);
        background-color: rgba(black, 0.5);
        min-height: rem(3px);
        min-width: rem(3px);

        &:disabled {
            background-image: none;
        }
    }

    &.color.horizontal trough,
    &.color.vertical trough {
        padding: 0;
    }

    &.horizontal {
        highlight.top,
        fill.top {
            border-radius: rem(12px) 0 0 rem(12px);
            // Account for border width
            margin: -1px 0 -1px -1px;
        }

        highlight.bottom,
        fill.bottom {
            border-radius: 0 rem(12px) rem(12px) 0;
            // Account for border width
            margin: -1px -1px -1px 0;
        }

        mark indicator {
            min-height: rem(6px);
            // Intentionally not in ems since it's a stroke
            min-width: 1px;
        }

        slider {
            margin: rem(-6px) -1px;
        }

        trough {
            margin: rem(6px) 0;
        }
    }

    &.vertical {
        highlight.top,
        fill.top {
            border-radius: rem(12px) rem(12px) 0 0;
            // Account for border width
            margin: -1px -1px 0 -1px;
        }

        highlight.bottom,
        fill.bottom {
            border-radius: 0 0 rem(12px) rem(12px);
            // Account for border width
            margin: 0 -1px -1px -1px;
        }

        mark indicator {
            // Intentionally not in ems since it's a stroke
            min-height: 1px;
            min-width: rem(6px);
        }

        slider {
            margin: -1px rem(-6px);
        }

        trough {
            margin: 0 rem(6px);
        }
    }
}

.seek-bar scale slider {
    background: transparent;
    min-width: 0;
    min-height: 0;
}
