shortcuts-section {
    margin: rem(12px);
}

shortcuts-group > label {
    @extend .h4;
}

// Characters between keys in Gtk.ShortcutLabel, like + or /
 shortcut .dim-label {
     margin-left: rem(3px);
     margin-right: rem(3px);
 }
 
accelerator,
.keycap {
    background-color: bg-color(2);
    background-image: #{'alpha(@highlight_color, 0.2)'};
    border-radius: rem(3px);
    font-size: 85%;
    min-width: rem(12px);
    // We add 1px on the bottom to account for box-shadow
    padding: rem(3px) rem(6px) calc(#{rem(3px)} + 1px);

    &:backdrop {
        background-image:
            #{'alpha(@highlight_color, 0.35)'};
    }
}
