spinbutton {
  @extend %entry;
  @extend .numeric;

  padding: 0;
  border-spacing: 0;
  border: none;
  background: bg-color(0); /* remove bg */
  
  &:hover,
  &:active,
  &:focus-within {
    background: bg-color(0);
  }

  /* :not here just to bump specificity above that of the list button styling */
  > button.image-button.up:not(.flat):not(.raised):not(.suggested-action):not(.destructive-action):not(.opaque),
  > button.image-button.down:not(.flat):not(.raised):not(.suggested-action):not(.destructive-action):not(.opaque) {
    @extend %button_basic_flat;

    border-radius: rem(999px);
    box-shadow: none;
    background: bg-color(5);
  }

  &:not(.vertical) {
    > text {
      min-width: 28px;
      padding: 8px;
    }

    /* :not here just to bump specificity above that of the list button styling */
    > button.image-button.up:not(.flat):not(.raised):not(.suggested-action):not(.destructive-action):not(.opaque),
    > button.image-button.down:not(.flat):not(.raised):not(.suggested-action):not(.destructive-action):not(.opaque) {
      min-height: 16px;
      min-width: 22px;
      padding-bottom: 0;
      padding-top: 0;
      background: bg-color(3);

      &:dir(ltr):last-child {
        border-radius: rem(999px);
      }

      &:dir(rtl):first-child {
        border-radius: rem(999px);
      }
    }
  }

  &.vertical {
    > text {
      min-height: 30px;
      min-width: 30px;
    }

    /* :not here just to bump specificity above that of the list button styling */
    > button.image-button.up:not(.flat):not(.raised):not(.suggested-action):not(.destructive-action):not(.opaque),
    > button.image-button.down:not(.flat):not(.raised):not(.suggested-action):not(.destructive-action):not(.opaque) {
      &:last-child {
        border-radius: rem(999px);
      }

      &:first-child {
        border-radius: rem(999px);
      }
    }
  }

  // Misc
  treeview &:not(.vertical) {
    min-height: 0;
    border-style: none;
    border-radius: 0;

    > text {
      min-height: 0;
      padding: 1px 2px;
    }
  }
}
