spinbutton {
  @extend %entry;
  @extend .numeric;

  padding: 2px;
  border-spacing: 0;
  border: none;
  outline: 0 solid transparent;
  outline-offset: 0;
  background: transparent; /* remove bg */
  
  &:hover,
  &:active,
  &:focus-within {
    background: transparent;
    outline: 0 solid transparent;
    outline-offset: 0;
  }

  &:not(.vertical) {
    > text {
      min-width: 24px;
      min-height: 24px;
      padding: 9px;
    }

    /* :not here just to bump specificity above that of the list button styling */
    > button.image-button.up:not(.flat):not(.raised):not(.suggested-action):not(.destructive-action):not(.opaque),
    > button.image-button.down:not(.flat):not(.raised):not(.suggested-action):not(.destructive-action):not(.opaque) {
      min-height: 22px;
      min-width: 32px;
      padding-bottom: 0;
      padding-top: 0;
      background: bg-color(3);
      
      &:dir(ltr):not(:first-child):not(:last-child) {
        border-radius: rem(26px) rem(12px) rem(12px) rem(26px);
      }

      &:dir(ltr):last-child {
        border-radius: rem(12px) rem(26px) rem(26px) rem(12px);
      }

      &:dir(rtl):first-child {
        border-radius: rem(26px) rem(12px) rem(12px) rem(26px);
      }
      
      &:dir(rtl):not(:first-child):not(:last-child) {
        border-radius: rem(12px) rem(26px) rem(26px) rem(12px);
      }
    }
  }

  &.vertical {
    > text {
      min-height: 24px;
      min-width: 24px;
      padding: 9px;
    }

    /* :not here just to bump specificity above that of the list button styling */
    > button.image-button.up:not(.flat):not(.raised):not(.suggested-action):not(.destructive-action):not(.opaque),
    > button.image-button.down:not(.flat):not(.raised):not(.suggested-action):not(.destructive-action):not(.opaque) {
      min-height: 32px;
      min-width: 22px;
      padding-bottom: 0;
      padding-top: 0;
      background: bg-color(3);

      &:first-child {
        border-radius: rem(26px) rem(26px) rem(12px) rem(12px);
      }

      &:last-child {
        border-radius:  rem(12px) rem(12px) rem(26px) rem(26px);
      }
    }
  }

  // Misc
  treeview &:not(.vertical) {
    min-height: 0;
    border-style: none;
    border-radius: 0;

    > text {
      min-height: 0;
      padding: 1px 2px;
    }
  }
}
