.storage-bar {
    .fill-block {
        background-image:
            $SILVER_300;
        transition: all 200ms ease-in-out;
        padding: rem(8px) rem(3px);

        &:not(:first-child) {
            border-left-width: 0;
        }

        &:first-child {
            border-top-left-radius: rem(3px);
            border-bottom-left-radius: rem(3px);
        }

        &:last-child {
            border-top-right-radius: rem(3px);
            border-bottom-right-radius: rem(3px);
        }

        &.legend {
            padding: rem(8px);
            border-radius: 50%;
        }

        &.empty-block,
        &.unused {
            background-image:
                $SILVER_300;
        }

        &.app {
            background-image:
                $GRAPE_500;
        }

        &.audio {
            background-image:
                $ORANGE_500;
        }

        &.files {
            background-image:
                $BLUEBERRY_500;
        }

        &.photo {
            background-image:
                $BANANA_500;
        }

        &.video {
            background-image:
                $STRAWBERRY_500;
        }
    }
}
