switch {
  border-radius: 99px;
  padding: 3px;
  background: bg-color(3);
  border: 1px solid $outline;

  &:hover:not(:checked) {
    background: state-color(bg-color(3), 1);
    &:active { background: state-color(bg-color(3), 2); }
  }

  > image { color: if($contrast == 'high', black, transparent); }
  @include focus-ring($offset: 1px, $outer: true);
  
  &:checked {
    background: state-color($accent_color, 2);
    border: 1px solid $accent_color;
    &:hover {
      background: state-color($accent_color, 3);
      border: 1px solid $accent_color;
      &:active {
        background: state-color($accent_color, 2);
        border: 1px solid $accent_color;
      }
    }
  }

  &:disabled {
    background: gtkalpha($view_fg_color, 0.12);
    color: gtkalpha($view_fg_color, 0.38);
  }

  > slider {
    min-width: 8px;
    min-height: 8px;
    border-radius: 50%;
    border: 8px solid $outline;
    background: transparent;
    box-shadow: none;
    margin: 0px;
    padding: 0px;
    transition: $button_transition;
  }
  
  &:hover > slider {
    border: 11px solid $outline;
    margin: -3px;
  }

  &:checked > slider { 
    border: 8px solid $accent_fg_color;
    background: $accent_fg_color;
    margin: 0px;
  }
  
  &:checked:hover > slider { 
    border: 11px solid $accent_fg_color;
    background: $accent_fg_color;
    margin: -3px;
  }

  &:disabled > slider {
    border: 8px solid $surface_bright_bg_color; background: $none;
  }

  .osd & {
    &:focus:focus-visible {
      outline-color: $osd_focus_color;
    }

    &:checked {
      background-color: gtkalpha($osd_fill_bg_color, .85);
      color: $osd_fill_fg_color;
    }
  }
}
