switch {
  border-radius: 99px;
  padding: 4px;
  background-color: bg-color(2);

  &:hover:not(:checked) {
    background-color: bg-color(3);
    &:active { background-color: bg-color(5); }
  }

  > image { color: if($contrast == 'high', white, transparent); }
  @include focus-ring($offset: 1px, $outer: true);
  
  &:checked {
    color: $accent_fg_color;
    background-color: $accent_color;
    &:hover {
      background-image: image(gtkalpha(currentColor, .1));
      &:active { background-image: image(transparentize(black, .8)); }
    }
  }

  &:disabled {
    filter: opacity($disabled_opacity);
  }

  > slider {
    margin: 4px;
    min-width: 8px;
    min-height: 8px;
    border-radius: 50%;
    border: 5px solid $accent_color;
    background-color: transparent;
    box-shadow: none;
    padding: 0px;
  }
  
  &:hover > slider {
    border: 5px solid $accent_fg_color;
  }

  &:checked > slider { 
    border: 5px solid $accent_fg_color;
    background-color: $accent_fg_color;
    margin: 0px;
    min-width: 16px;
    min-height: 16px;
  }

  &:disabled > slider {
    border: 5px solid $slider_color;
  }

  .osd & {
    &:focus:focus-visible {
      outline-color: $osd_focus_color;
    }

    &:checked {
      background-color: transparentize($osd_fill_bg_color, .15);
      color: $osd_fill_fg_color;
    }
  }
}
