switch {
  border-radius: 99px;
  padding: 4px;
  background: bg-color(3);
  border: 2px solid gtkalpha($outline, 0.5);

  &:hover:not(:checked) {
    background: bg-color(4);
    &:active { background: bg-color(5); }
  }

  > image { color: if($contrast == 'high', black, transparent); }
  @include focus-ring($offset: 1px, $outer: true);
  
  &:checked {
    background: $accent_color;
    border: 2px solid $accent_color;
    &:hover {
      background: $accent_color;
      border: 2px solid $accent_color;
      &:active { background: $accent_color; border: 2px solid $accent_color; }
    }
  }

  &:disabled {
    background: gtkalpha($view_fg_color, 0.12);
    color: gtkalpha($view_fg_color, 0.38);
  }

  > slider {
    margin: 4px;
    min-width: 8px;
    min-height: 8px;
    border-radius: 50%;
    border: 5px solid gtkalpha($outline, 0.5);
    background-color: transparent;
    box-shadow: none;
    padding: 0px;
  }
  
  &:hover > slider {
    border: 5px solid $accent_color;
  }

  &:checked > slider { 
    border: 5px solid $accent_fg_color;
    background-color: $accent_fg_color;
    margin: 0px;
    min-width: 16px;
    min-height: 16px;
  }

  &:disabled > slider {
    border: 5px solid $slider_color;
  }

  .osd & {
    &:focus:focus-visible {
      outline-color: $osd_focus_color;
    }

    &:checked {
      background-color: gtkalpha($osd_fill_bg_color, .85);
      color: $osd_fill_fg_color;
    }
  }
}
