tooltip {
  &.background {
    background-color: gtkalpha($osd_bg_color, 0.8);
    background-clip: padding-box;
    border: 1px solid $borders;
    color: $osd_fg_color;
  }

  padding: 8px 12px;
  border-radius: 12px;
  box-shadow: none;

  > box {
    border-spacing: 8px;
  }
}
