tooltip {
  &.background {
    background: gtkalpha(bg-color(-1), 0.2);
    background-clip: padding-box;
    border: 1px solid $tooltip_border_color;
    color: @accent_fg_color;
  }

  padding: 8px 12px;
  border-radius: 12px;
  box-shadow: none;

  > box {
    border-spacing: 8px;
  }
}
