tooltip {
  padding: 8px 12px;
  border-radius: 4px;
  box-shadow: none;

  &.background {
    background-color: $osd_bg_color;
    background-clip: padding-box;
    border: 1px solid $borders;
    color: $osd_fg_color;
  }

  > box {
    border-spacing: 8px;
  }
}
