.inline-toolbar {
    background-color: bg-color(2);
    background-image:
        rgba(black, 0.07);
    box-shadow: none;

    &:backdrop {
        background-image:
            rgba(black, 0.04);
        box-shadow: none;
    }

    .sidebar & {
        background-color: mix(bg-color(3), bg-color(4), 50%);
        background-image:
            rgba(black, 0.04);
        padding: rem(3px) rem(6px);

        button {
            @extend .flat;
        }
    }
}

actionbar,
.bottom-toolbar {
    @extend %outset-background;
    background-color: #{"@color_primary"};
    box-shadow:
        0 0 0 1px #{'alpha(shade(@color_primary, 0.7), 0.4)'};
    padding: rem(3px) rem(6px);

    @if $color-scheme == "dark" {
    box-shadow:
        0 0 0 1px #{'alpha(shade(@color_primary, 0.5), 0.5)'};
    }

    /* Workaround for border */
    revealer > & {
        margin-top: 1px;
    }

    &:backdrop {
        box-shadow:
            0 0 0 1px #{'alpha(shade(@color_primary, 0.7), 0.3)'};
    }

    &.flat {
        @extend .inline-toolbar;
    }

    //Epiphany prefs window
    viewswitcherbar & {
        background: transparent;
        box-shadow: none;
        padding: 0;
    }
}

.search-bar {
    background-color: bg-color(3);
}
