.view,
%view {
  color: $view_fg_color;
  background: bg-color(0);

  &:disabled {
    color: gtkalpha($view_fg_color, .5);
    background: gtkmix($window_bg_color, $view_bg_color, .60);
  }

  &:selected {
    &:focus, & {
      background: $view_selected_color;
      color: $accent_fg_color;
      border-radius: $button_radius;
    }
  }
}

textview {
  caret-color: currentColor;
  background: shade($view_bg_color, 0.98);

  > text {
    @extend %view;
    background: shade($view_bg_color, 0.98);
  }

  > border {
    background-color: shade($view_bg_color, 0.9);
  }

  &:drop(active) {
    caret-color: $drop_target_color;
  }
}

iconview {
  @extend %view;

  @include focus-ring();

  &:drop(active) {
    box-shadow: none;
  }

  > dndtarget:drop(active) {
    border-style: solid;
    border-width: 1px;
    border-color: $drop_target_color;
  }
}

rubberband {
  border: 1px solid $accent_color;
  background: bg-color(5);
}

flowbox > flowboxchild,
gridview > child {
  padding: 3px;
  transition: $focus_transition;
  border-radius: $button_radius;

  @include focus-ring();

  &:selected {
    background: bg-color(5); color: $accent_fg_color;
  }
}

gridview > child.activatable {
  &:hover { background: bg-color(2); color: $accent_fg_color; }

  &:active { background: bg-color(3); color: $accent_fg_color; }

  &:selected {
    &:hover { background: bg-color(4); color: $accent_fg_color; }

    &:active { background: bg-color(5); color: $accent_fg_color; }
  }
}
