window {
  border-width: 0px;

  &.csd {
    box-shadow: shadow(5),
                  0 0 0 1px $borders;
    margin: 0px;
    border-radius: $window_radius;

    outline: 1px solid $window_outline_color;
    outline-offset: -1px;

    &:backdrop {
      box-shadow: shadow(5),
                  0 0 0 1px $borders;
      transition: $backdrop_transition;
    }

    &.dialog.message {
      box-shadow: shadow(4),
                  0 0 0 1px $borders;
      border-radius: rem(26px);
      background: bg-color(3);
    }
    &.dialog-content {
      border-radius: rem(26px);
      background: bg-color(3);
      box-shadow: shadow(5),
                  0 0 0 1px $borders;
    }

    &.tiled,
    &.tiled-top,
    &.tiled-left,
    &.tiled-right,
    &.tiled-bottom {
      border-radius: 0;
      outline: none;

      box-shadow: 0 0 0 1px $borders,
                  0 0 0 20px transparent;

      &:backdrop {
        box-shadow: 0 0 0 1px $borders,
                    0 0 0 20px transparent;
      }
    }

    &.maximized,
    &.fullscreen {
      border-radius: 0;
      outline: none;
      box-shadow: none;
      transition: none;
    }
  }

  &.solid-csd {
    margin: 0;
    padding: 5px;
    border-radius: 0;
    box-shadow: inset 0 0 0 5px $borders,
                inset 0 0 0 4px $headerbar_bg_color,
                inset 0 0 0 1px $borders;

    &:backdrop {
      box-shadow: inset 0 0 0 5px $borders,
                  inset 0 0 0 4px $headerbar_backdrop_color,
                  inset 0 0 0 1px $borders;
    }
  }

  // server-side decorations as used by mutter
  &.ssd {
    // just doing borders, wm draws actual shadows
    box-shadow: 0 0 0 1px $borders;
  }
}
