window {
  // lamefun trick to get rounded borders regardless of CSD use
  border-width: 0px;

  &.csd {
    box-shadow: shadow(5),
                  0 0 0 1px transparentize(black, if($contrast == 'high', .2, .95));
    margin: 0px;
    border-radius: $window_radius;

    outline: 1px solid $window_outline_color;
    outline-offset: -1px;
    
    &:backdrop {
      box-shadow: shadow(4),
                  0 6px 10px 4px transparent,
                  0 0 0 1px transparentize(black, if($contrast == 'high', .2, .98));
      transition: $backdrop_transition;
    }

    &.dialog.message {
      box-shadow: 0 0 0 1px transparentize(black, if($contrast == 'high', .2, .95));
      border-radius: rem(26px);
      background: bg-color(3);
    }
    &.dialog-content {
      border-radius: rem(26px);
      box-shadow: 0 0 0 1px transparentize(black, if($contrast == 'high', .2, .95));
      background: bg-color(3);
    }

    &.tiled,
    &.tiled-top,
    &.tiled-left,
    &.tiled-right,
    &.tiled-bottom {
      border-radius: 0;
      outline: none;

      box-shadow: 0 0 0 1px $border_color,
                  0 0 0 20px transparent; //transparent control workaround -- #3670

      &:backdrop {
        box-shadow: 0 0 0 1px $border_color,
                    0 0 0 20px transparent;
      }
    }

    &.maximized,
    &.fullscreen {
      border-radius: 0;
      outline: none;
      box-shadow: none;
      transition: none;
    }
  }

  &.solid-csd {
    margin: 0;
    padding: 5px;
    border-radius: 0;
    box-shadow: inset 0 0 0 5px $border_color,
                inset 0 0 0 4px $headerbar_bg_color,
                inset 0 0 0 1px $border_color;

    &:backdrop {
      box-shadow: inset 0 0 0 5px $border_color,
                  inset 0 0 0 4px $headerbar_backdrop_color,
                  inset 0 0 0 1px $border_color;
    }
  }

  // server-side decorations as used by mutter
  &.ssd {
    // just doing borders, wm draws actual shadows
    box-shadow: 0 0 0 1px transparentize(black, if($contrast == 'high', .2, .95));
  }
}
