windowcontrols {
    &.end {
        margin-left: rem(12px);
    }

    &.start {
        margin-right: rem(12px);
    }

    button {
        padding: rem(4px);

        &:not(:active) {
            border-color: transparent;
            box-shadow: none;
        }
    }
}
