window {
  border-width: 0px;

  &.csd {
    box-shadow: shadow(5),
                0 0 0 1px rgba(black, 0.1);
    margin: 0px;
    border-radius: $window_radius;

    outline: 1px solid $window_outline_color;
    outline-offset: -1px;

    &:backdrop {
      // The first transparent is to avoid jumping
      box-shadow: 0 6px 30px 5px transparent,
                  shadow(3),
                  0 0 0 1px rgba(black, 0.05);
    }

    &.dialog.message {
      border-radius: px-to-rem(26px);
      background: bg-color(3);
      box-shadow: none;
    }
    &.dialog-content {
      border-radius: px-to-rem(26px);
      background: bg-color(3);
      box-shadow: none;
    }

    &.tiled,
    &.tiled-top,
    &.tiled-left,
    &.tiled-right,
    &.tiled-bottom {
      border-radius: 0;
      outline: none;

      box-shadow: 0 0 0 1px $border_color,
                  0 0 0 20px transparent;

      &:backdrop {
        box-shadow: 0 0 0 1px $border_color,
                    0 0 0 20px transparent;
      }
    }

    &.maximized,
    &.fullscreen {
      border-radius: 0;
      outline: none;
      box-shadow: none;
    }
  }

  &.solid-csd {
    margin: 0;
    padding: 5px;
    border-radius: 0;
    box-shadow: inset 0 0 0 5px $border_color,
                inset 0 0 0 4px $headerbar_bg_color,
                inset 0 0 0 1px $border_color;

    &:backdrop {
      box-shadow: inset 0 0 0 5px $border_color,
                  inset 0 0 0 4px $headerbar_backdrop_color,
                  inset 0 0 0 1px $border_color;
    }
  }
}
