window {
  border-width: 0px;

  &.csd {
    box-shadow: 0 0 0 1px gtkalpha(white, 0.12), 0 0 0 1px gtkalpha($borders, 0.12), shadow(5);
    margin: 0px;
    border-radius: $window_radius;

    &:backdrop {
      // The transparent is to avoid jumping, and should be of the biggest shadow on active
      box-shadow: 0 0 0 1px gtkalpha(white, 0.12), 0 0 0 1px gtkalpha($borders, 0.12), shadow(4), 0 32px 64px 0px transparent;
    }

    &.dialog.message {
      border-radius: 24px;
      background: bg-color(-2);
      box-shadow: none;
    }

    &.dialog-content {
      background: bg-color(-2);
      border-radius: 24px;
      box-shadow: none;
    }

    &.tiled,
    &.tiled-top,
    &.tiled-left,
    &.tiled-right,
    &.tiled-bottom {
      border-radius: 0;
      outline: none;

      box-shadow: 0 0 0 1px gtkalpha(white, 0.12), 0 0 0 1px gtkalpha($borders, 0.12), 0 0 0 20px transparent;

      &:backdrop {
        box-shadow: 0 0 0 1px gtkalpha(white, 0.12), 0 0 0 1px gtkalpha($borders, 0.12), 0 0 0 20px transparent;
      }
    }

    &.maximized,
    &.fullscreen {
      border-radius: 0;
      outline: none;
      box-shadow: none;
    }
  }

  &.solid-csd {
    margin: 0;
    padding: 5px;
    border-radius: 0;
    box-shadow: 0 0 0 1px gtkalpha(white, 0.12), 0 0 0 1px gtkalpha($borders, 0.12), inset 0 0 0 9px $headerbar_bg_color;

    &:backdrop {
      box-shadow: 0 0 0 1px gtkalpha(white, 0.12), 0 0 0 1px gtkalpha($borders, 0.12), inset 0 0 0 9px $headerbar_backdrop_color;
    }
  }
}
