@function gtkalpha($c,$a) {
  @return unquote("alpha(#{$c},#{$a})");
}

$ease-out-quad: cubic-bezier(0.25, 0.46, 0.45, 0.94);
$asset_suffix: if($color-scheme=='dark', '-dark', '');
$backdrop_transition: 200ms ease-out;
$button_transition: 200ms ease-out;
$window_radius: 12px;
$button-radius: 8px;
$_headerbar_height: 47px;
$_hb_btn_pad: 4px;

* {
  padding: 0;
  -GtkToolButton-icon-spacing: 8;
  -GtkTextView-error-underline-color: $error_color;

  -GtkScrolledWindow-scrollbar-spacing: 0;

  -GtkToolItemGroup-expander-size: 11;

  -GtkWidget-text-handle-width: 20;
  -GtkWidget-text-handle-height: 24;

  -GtkDialog-button-spacing: 8;
  -GtkDialog-action-area-border: 0;

  outline-color: gtkalpha(currentColor, 0.3);
  outline-style: dashed;
  outline-offset: -3px;
  outline-width: 1px;
  -gtk-outline-radius: $button-radius - 2;

  -gtk-secondary-caret-color: $selected_bg_color
}


/***************
 * Base States *
 ***************/
*:disabled { -gtk-icon-effect: dim; }

.gtkstyle-fallback {
  color: $fg_color;
  background-color: $bg_color;

  &:hover {
    color: $fg_color;
    background-color: lighten($bg_color, 10%);
  }

  &:active {
    color: $fg_color;
    background-color: darken($bg_color, 10%);
  }

  &:disabled {
    color: $insensitive_fg_color;
    background-color: $insensitive_bg_color;
  }

  &:selected {
    color: $selected_fg_color;
    background-color: $selected_bg_color;
  }
}

/***************
 * Header bars *
 ***************/
%titlebar,
headerbar {
  padding: 0 6px;
  min-height: $_headerbar_height;
  border-width: 0 0 1px;
  border-style: solid;
  border-color: $headerbar_border;
  border-radius: 0;

  @include headerbar_fill;

  &.default-decoration {
    min-height: 36px;
    padding: 0 6px 0 6px;

    button.titlebutton {
      border-radius: 12px;
      background-color: $titlebutton_normal;
      min-height: 24px;
      min-width: 24px;
      margin: 0 4px 0 4px;
      padding: 0;
      transition: $button_transition;
      &:hover { background-color: $titlebutton_normal_hover; }
      &:hover:active, &:active { background-color: $titlebutton_normal_active; }
      &:backdrop { background: $titlebutton_backdrop; }
      &:backdrop:hover { background: $titlebutton_backdrop_hover; }
    }
  }

  separator.titlebutton { opacity: 0; }

  .solid-csd & {
    &:backdrop, & {
      &:dir(rtl), &:dir(ltr) {
        margin-left: -1px;
        margin-right: -1px;
        margin-top: -1px;
        border-radius: 0;
        box-shadow: none;
      }
    }
  }
}

headerbar {
  entry,
  spinbutton,
  separator:not(.sidebar),
  button {
    margin-top: $_hb_btn_pad;
    margin-bottom: $_hb_btn_pad;
  }
  switch {
    margin-top: $_switch_margin;
    margin-bottom: $_switch_margin;
  }

  &.titlebar headerbar:not(.titlebar) {
    background: none;
    box-shadow: none;
  }
}

.background .titlebar {
  &:backdrop, & {
    border-top-left-radius: $window_radius;
    border-top-right-radius: $window_radius;
  }
}

.background.tiled .titlebar,
.background.tiled-top .titlebar,
.background.tiled-right .titlebar,
.background.tiled-bottom .titlebar,
.background.tiled-left .titlebar,
.background.maximized .titlebar,
.background.solid-csd .titlebar {
  &:backdrop, & {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}

headerbar {
  window separator:first-child + &,
  window &:first-child { &:backdrop, & { border-top-left-radius: $window_radius; }}
  window &:last-child { &:backdrop, & { border-top-right-radius: $window_radius; }}

  window stack & {
    &:first-child, &:last-child {
      &:backdrop, & {
        border-top-left-radius: $window_radius;
        border-top-right-radius: $window_radius;
      }
    }
  }

  window.tiled &,
  window.tiled-top &,
  window.tiled-right &,
  window.tiled-bottom &,
  window.tiled-left &,
  window.maximized &,
  window.fullscreen &,
  window.solid-csd & {
    &, &:backdrop {
      &,
      &:first-child,
      &:last-child,
      &:only-child {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
      }
    }
  }
}

.titlebar:not(headerbar) {
  window.csd > & {
    padding: 0;
    background-color: transparent;
    background-image: none;
    border-style: none;
    border-color: transparent;
    box-shadow: none;
  }

  separator {
    background-color: $borders_color;
    &:backdrop { background-color: $backdrop_borders_color; }
  }

  @extend %titlebar;
}

.composited-indicator {
  padding: 0 6px;
}

.composited-indicator > revealer label,
.composited-indicator > revealer image,
.composited-indicator > revealer spinner {
  color: #f0f0f2;
  font-weight: bold;
  text-shadow:
      0 0 2px alpha(#2d2d2d, 0.3),
      0 1px 2px alpha(#2d2d2d, 0.6);
  transition: all 200ms ease-in-out;
  -gtk-icon-shadow:
      0 0 2px alpha(#2d2d2d, 0.3),
      0 1px 2px alpha(#2d2d2d, 0.6);
  -gtk-icon-palette:
      error $error_color,
      success $success_color,
      warning $warning_color;
}

.panel.color-light .composited-indicator > revealer label,
.panel.color-light .composited-indicator > revealer image,
.panel.color-light .composited-indicator > revealer spinner {
  color: alpha(#2d2d2d, 0.65);
  text-shadow:
      0 0 2px alpha(#f0f0f2, 0.3),
      0 1px 0 alpha(#f0f0f2, 0.25);
  -gtk-icon-shadow:
      0 0 2px alpha(#f0f0f2, 0.3),
      0 1px 0 alpha(#f0f0f2, 0.25);
  -gtk-icon-palette:
      error $error_color,
      success $success_color,
      warning $warning_color;
}

.panel {
  background-color: transparent;
  transition: all 100ms ease-in-out;
  margin-bottom: 0;
  min-height: 16px;
}

.panel.maximized {
  background-color: #2d2d2d;
}

.panel.translucent {
  background-color: alpha(#2d2d2d, 0.5);
  box-shadow:
      0 1px 3px alpha(#2d2d2d, 0.24),
      0 1px 1px alpha(#2d2d2d, 0.52);
  margin-bottom: 4px;
}

.panel.color-light.translucent {
  background-color: alpha(#f0f0f2, 0.85);
  box-shadow:
      inset 0 -1px 1px alpha(#f0f0f2, 0.2),
      0 1px 3px alpha(#2d2d2d, 0.24),
      0 1px 1px alpha(#2d2d2d, 0.12);
  margin-bottom: 4px;
}

.panel menubar {
  background: transparent;
  box-shadow: none;
  border: none;
}
