// Palettes of systems, should be overridden with tau HIG colors.

// GNOME
$blue_1: #8AC2FB;
$blue_2: #58A8FA;
$blue_3: #268EF9;
$blue_4: #0674E6;
$blue_5: #0453A4;

$green_1: #9AE5A6;
$green_2: #72DA82;
$green_3: #49D05E;
$green_4: #2FB744;
$green_5: #228632;

$yellow_1: #FED97C;
$yellow_2: #FECB49;
$yellow_3: #FEBC16;
$yellow_4: #E0A101;
$yellow_5: #A87801;

$orange_1: #FBBB8D;
$orange_2: #F99E5C;
$orange_3: #F7812B;
$orange_4: #E66609;
$orange_5: #A24806;

$red_1: #EA80A0;
$red_2: #E25480;
$red_3: #DB2860;
$red_4: #B21E4C;
$red_5: #90183D;

$purple_1: #BEA0DB;
$purple_2: #A57BCD;
$purple_3: #8C56BF;
$purple_4: #723EA4;
$purple_5: #552E7A;

$brown_1: #E0C6AE;
$brown_2: #D1A985;
$brown_3: #BF8856;
$brown_4: #8D5F35;
$brown_5: #553A20;

$light_1: #F0F0F2;
$light_2: #E5E5E5;
$light_3: #D0D0D0;
$light_4: #C2C2C2;
$light_5: #B0B0B0;

$dark_1: #8A8A8A;
$dark_2: #5E5E5E;
$dark_3: #474747;
$dark_4: #333333;
$dark_5: #2D2D2D;

// elementary OS
$STRAWBERRY_100: #EA80A0;
$STRAWBERRY_300: #E25480;
$STRAWBERRY_500: #DB2860;
$STRAWBERRY_700: #B21E4C;
$STRAWBERRY_900: #90183D;

$ORANGE_100: #FBBB8D;
$ORANGE_300: #F99E5C;
$ORANGE_500: #F7812B;
$ORANGE_700: #E66609;
$ORANGE_900: #A24806;

$BANANA_100: #FED97C;
$BANANA_300: #FECB49;
$BANANA_500: #FEBC16;
$BANANA_700: #E0A101;
$BANANA_900: #A87801;

$LIME_100: #9AE5A6;
$LIME_300: #72DA82;
$LIME_500: #49D05E;
$LIME_700: #2FB744;
$LIME_900: #228632;

$MINT_100: #AEE0D4;
$MINT_300: #85D1BF;
$MINT_500: #56BFA6;
$MINT_700: #38947E;
$MINT_900: #2E7A68;

$BLUEBERRY_100: #8AC2FB;
$BLUEBERRY_300: #58A8FA;
$BLUEBERRY_500: #268EF9;
$BLUEBERRY_700: #0674E6;
$BLUEBERRY_900: #0453A4;

$BUBBLEGUM_100: #DB9FCD;
$BUBBLEGUM_300: #CB76B8;
$BUBBLEGUM_500: #BF56A8;
$BUBBLEGUM_700: #9F3C89;
$BUBBLEGUM_900: #7A2E69;

$GRAPE_100: #BEA0DB;
$GRAPE_300: #A57BCD;
$GRAPE_500: #8C56BF;
$GRAPE_700: #723EA4;
$GRAPE_900: #552E7A;

$COCOA_100: #E0C6AE;
$COCOA_300: #D1A985;
$COCOA_500: #BF8856;
$COCOA_700: #8D5F35;
$COCOA_900: #553A20;

$SILVER_100: #F0F0F2;
$SILVER_300: #E5E5E5;
$SILVER_500: #D0D0D0;
$SILVER_700: #B0B0B0;
$SILVER_900: #A5A5A5;

$SLATE_100: #8A8A8A;
$SLATE_300: #5E5E5E;
$SLATE_500: #474747;
$SLATE_700: #333333;
$SLATE_900: #2D2D2D;

$BLACK_100: #474747;
$BLACK_300: #333333;
$BLACK_500: #2D2D2D;
$BLACK_700: #1D1D1D;
$BLACK_900: #111111;

// Exported
@define-color STRAWBERRY_100 #{$STRAWBERRY_100};
@define-color STRAWBERRY_300 #{$STRAWBERRY_300};
@define-color STRAWBERRY_500 #{$STRAWBERRY_500};
@define-color STRAWBERRY_700 #{$STRAWBERRY_700};
@define-color STRAWBERRY_900 #{$STRAWBERRY_900};

@define-color ORANGE_100 #{$ORANGE_100};
@define-color ORANGE_300 #{$ORANGE_300};
@define-color ORANGE_500 #{$ORANGE_500};
@define-color ORANGE_700 #{$ORANGE_700};
@define-color ORANGE_900 #{$ORANGE_900};

@define-color BANANA_100 #{$BANANA_100};
@define-color BANANA_300 #{$BANANA_300};
@define-color BANANA_500 #{$BANANA_500};
@define-color BANANA_700 #{$BANANA_700};
@define-color BANANA_900 #{$BANANA_900};

@define-color LIME_100 #{$LIME_100};
@define-color LIME_300 #{$LIME_300};
@define-color LIME_500 #{$LIME_500};
@define-color LIME_700 #{$LIME_700};
@define-color LIME_900 #{$LIME_900};

@define-color MINT_100 #{$MINT_100};
@define-color MINT_300 #{$MINT_300};
@define-color MINT_500 #{$MINT_500};
@define-color MINT_700 #{$MINT_700};
@define-color MINT_900 #{$MINT_900};

@define-color BLUEBERRY_100 #{$BLUEBERRY_100};
@define-color BLUEBERRY_300 #{$BLUEBERRY_300};
@define-color BLUEBERRY_500 #{$BLUEBERRY_500};
@define-color BLUEBERRY_700 #{$BLUEBERRY_700};
@define-color BLUEBERRY_900 #{$BLUEBERRY_900};

@define-color BUBBLEGUM_100 #{$BUBBLEGUM_100};
@define-color BUBBLEGUM_300 #{$BUBBLEGUM_300};
@define-color BUBBLEGUM_500 #{$BUBBLEGUM_500};
@define-color BUBBLEGUM_700 #{$BUBBLEGUM_700};
@define-color BUBBLEGUM_900 #{$BUBBLEGUM_900};

@define-color GRAPE_100 #{$GRAPE_100};
@define-color GRAPE_300 #{$GRAPE_300};
@define-color GRAPE_500 #{$GRAPE_500};
@define-color GRAPE_700 #{$GRAPE_700};
@define-color GRAPE_900 #{$GRAPE_900};

@define-color COCOA_100 #{$COCOA_100};
@define-color COCOA_300 #{$COCOA_300};
@define-color COCOA_500 #{$COCOA_500};
@define-color COCOA_700 #{$COCOA_700};
@define-color COCOA_900 #{$COCOA_900};

@define-color SILVER_100 #{$SILVER_100};
@define-color SILVER_300 #{$SILVER_300};
@define-color SILVER_500 #{$SILVER_500};
@define-color SILVER_700 #{$SILVER_700};
@define-color SILVER_900 #{$SILVER_900};

@define-color SLATE_100 #{$SLATE_100};
@define-color SLATE_300 #{$SLATE_300};
@define-color SLATE_500 #{$SLATE_500};
@define-color SLATE_700 #{$SLATE_700};
@define-color SLATE_900 #{$SLATE_900};

@define-color BLACK_100 #{$BLACK_100};
@define-color BLACK_300 #{$BLACK_300};
@define-color BLACK_500 #{$BLACK_500};
@define-color BLACK_700 #{$BLACK_700};
@define-color BLACK_900 #{"" + $BLACK_900};

@define-color blue_1 #{$blue_1};
@define-color blue_2 #{$blue_2};
@define-color blue_3 #{$blue_3};
@define-color blue_4 #{$blue_4};
@define-color blue_5 #{$blue_5};

@define-color green_1 #{$green_1};
@define-color green_2 #{$green_2};
@define-color green_3 #{$green_3};
@define-color green_4 #{$green_4};
@define-color green_5 #{$green_5};

@define-color yellow_1 #{$yellow_1};
@define-color yellow_2 #{$yellow_2};
@define-color yellow_3 #{$yellow_3};
@define-color yellow_4 #{$yellow_4};
@define-color yellow_5 #{$yellow_5};

@define-color orange_1 #{$orange_1};
@define-color orange_2 #{$orange_2};
@define-color orange_3 #{$orange_3};
@define-color orange_4 #{$orange_4};
@define-color orange_5 #{$orange_5};

@define-color red_1 #{$red_1};
@define-color red_2 #{$red_2};
@define-color red_3 #{$red_3};
@define-color red_4 #{$red_4};
@define-color red_5 #{$red_5};

@define-color purple_1 #{$purple_1};
@define-color purple_2 #{$purple_2};
@define-color purple_3 #{$purple_3};
@define-color purple_4 #{$purple_4};
@define-color purple_5 #{$purple_5};

@define-color brown_1 #{$brown_1};
@define-color brown_2 #{$brown_2};
@define-color brown_3 #{$brown_3};
@define-color brown_4 #{$brown_4};
@define-color brown_5 #{$brown_5};

@define-color light_1 #{$light_1};
@define-color light_2 #{$light_2};
@define-color light_3 #{$light_3};
@define-color light_4 #{$light_4};
@define-color light_5 #{$light_5};

@define-color dark_1 #{$dark_1};
@define-color dark_2 #{$dark_2};
@define-color dark_3 #{$dark_3};
@define-color dark_4 #{$dark_4};
@define-color dark_5 #{$dark_5};

